.my-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn {
    font-size: 1.2rem;
    background-origin: padding-box;
    padding: 10px 20px;
    border-color: #E31717;
    border-width: 0.3cqmax;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background-color: #E31717;
    color: aliceblue;
    height: 51;
    text-align: center;
    margin:1.5rem 0;
  }

  button.transparent {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    height: 51;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    color: black;
    padding: 10px 20px;
    text-align: center;
  }
  
  
  .btn:hover {
    transform: scale(0.5);
    background:rgb(255, 184, 184);
  }

  button.tranparent:hover{
    transform: scale (0.5);
  }
 